@model PaginatedList<DomainModel.Manager>
@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/nlb.css" rel="stylesheet" />
</head>


<p class="first">
    <a class="button" asp-controller="Manager" asp-action="Create">Create New Manager</a>
    <a class="button" asp-controller="Home" asp-action="Index">Project List</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p style="text-align:right">
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Id</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ManagerNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Manager</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Active"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Active</a>
            </th>

            <th style="text-align:center;">@Html.DisplayName("Operations")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Manager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerName)
                </td>
                <td>
                    @if (item.Active > 0)
                    {
                        @Html.DisplayName("Active");
                    }
                    else
                    {
                        @Html.DisplayName("Inactive");
                    }
                </td>
                <td style="text-align:center;">
                    <a class="button" asp-action="Edit" asp-route-id="@item.ID_Manager">Edit</a>
                    <a class="button" asp-action="Details" asp-route-id="@item.ID_Manager">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
<a class="button" asp-action="Index">Back to Full List</a>