@model PaginatedList<DomainModel.Project>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="..\css\nlb.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>



<p class="first">
    <button class="button"><a asp-action="Create">Create New Project</a></button>
    <button class="button"><a asp-controller="Manager" asp-action="Index">Manager List</a></button>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p style="text-align:right">
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Id</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProjectNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ManagerIdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Manager</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">End Date</a>
            </th>
            <th style="text-align:center;">@Html.DisplayName("Operations")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @foreach (var manager in ViewBag.Managers)
                    {
                        @if (manager.ID_Manager == item.ID_Manager)
                        {
                            @Html.DisplayName(manager.ManagerName)
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td style="text-align:center;">
                    <button class="button"><a asp-action="Edit" asp-route-id="@item.ID_Project">Edit</a></button>
                    <button class="button"><a asp-action="Details" asp-route-id="@item.ID_Project">Details</a></button>
                    <button class="button"><a asp-action="Delete" asp-route-id="@item.ID_Project">Delete</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
<button class="button"><a asp-action="Index">Back to Full List</a></button>

